<div class="l-inner session-manager-container">
  <h2 class="session-manager-header">パスワードをお忘れですか？</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "パスワードリセット手順の案内を送信する" %>
    </div>
  <% end %>

  <% render "devise/shared/links" %>
</div>