<div class="container session-manager-container">
    <h2 class="session-manager-header">Dashboard#index</h2>
    
    <div class="row">
        <div class="col-12">
            <table>
                <thead>
                    <tr>
                        <th>日付</th>
                        <th>チャットルーム No</th>
                    </tr>
                </thead>
                <tbody>
                    <% @rooms.each do |room| %>
                        <tr>
                            <td><%= format_date room.created_at %></td>
                            <td><%= link_to room.id, room_path(room.id), class: "" %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>