@charset "utf-8";

//pc
@mixin pc(){
    @media (min-width: 767px) {
        @content;
    }
}

// sp
@mixin sp(){
    @media (max-width: 767px) {
        @content;
    }
}

// ipad
@mixin ipad(){
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        @content;
    }
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html,h1,h2,h3,h4,h5,p,li,a,button,div{
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

a{
    text-decoration: unset;
    transition: .3s;
    cursor: pointer;
    display: block;
}

img{
    max-width: 100%;
    width: 100%;
    display: block;
}
