@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sriracha&display=swap');

//pc
@mixin pc(){
    @media (min-width: 767px) {
        @content;
    }
}

// sp
@mixin sp(){
    @media (max-width: 767px) {
        @content;
    }
}

// ipad
@mixin ipad(){
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        @content;
    }
}

.avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.top {
    .l-inner {
        width: 1250px;
        display: flex;
        @include sp{
            width: initial;
            display: initial;
        }
    }
    &__mainContents {
        .title {
            box-shadow: 0 3px #999;
        }
    }
    &__sidebar {
        margin-left: 75px;
        @include sp{
            margin-left: initial;
            padding: 2vw;
        }
    }
    &__contents {
        @include sp{
            padding: 1vw;
            overflow-x: scroll;
        }
    }

    @include sp{
        margin-top: 15vw;
    }
    
    th:first-child, td:first-child{
        width: 15%;
        text-align: left;
        @include sp{
            width: 25%;
        }
    }
    td:nth-child(2){
        width: 60%;
        text-align: left;
        @include sp{
            width: 50%;
        }
    }
    td:nth-child(3){
        width: 25%;
        text-align: left;
        @include sp{
            width: 25%;
        }
    }
}